@import "../../../../scss/variables";
@import "../../../../scss/animations";

.wrapper {
  position: relative;
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: $white;
    padding: 10px 12px;
    font-size: 14px;
    box-shadow: $bx-16;
    border-radius: 10px 0 10px 10px;
    min-width: 116px;
    display: none;
    animation: opacity 0.5s;
    &.show {
      display: block;
    }
    > ul {
      list-style: none;
      a {
        text-decoration: none;
        color: #000;
        transition: color 0.2s ease-in-out;
        &:hover,
        &.active {
          color: $accent;
          margin: 4px 0;
        }
      }
    }
  }
}
