@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

$accent: #e9fd0a;
$white: #b8babe;
$dark-blue: #a0a3ad ;
$black: #151a24;

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);
$bx-10: 0 3px 6px rgba(0, 0, 0, 0.1);

$default-font: "Roboto";

$mobile: 480px;
